@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 18px 28px 18px 28px;
  background-color: rgb(82, 195, 3);
  border-radius: 8px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
  cursor: pointer;
}
#hero_main {
  /* background-image: url(../assets/hero-bg.png); */
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url(../assets/hero-bg.png);
  height: 919px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#hero_main .hero_content {
  width: 818.4px;
  /* width: 53.281%; */
  text-align: center;
}
#hero_main .hero_content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  margin-bottom: 12px;
}
#hero_main .hero_content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 46px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0%;
  margin-bottom: 18px;
}
#hero_main .hero_content .describtion {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  opacity: 0.7;
  margin-bottom: 25px;
}
/* hero section snds */

/* card box section starts */
#card_box_main {
  width: 1056px;
  margin: 0 auto;
}
#card_box_main .title_box {
  text-align: center;
}

#card_box_main .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  opacity: 0.6;
  margin-bottom: 14px;
}
#card_box_main .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0%;
  margin-bottom: 44px;
}
.card_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.card {
  max-width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  text-align: center;
}
.card .image_box img {
  width: 100%;
}
.Shop {
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 10px 25px 10px 26px;
}
.card h2 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 34px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0%;
}
.card p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
}
/* card box section ends */
